.review__container {
    max-width: 1720px;
    margin: 0 auto;
    padding: 50px 0 0 0;
}

.review__text {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 60px;
}

.review__title {
    width: 447px;
    color: var(--textColor);
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 142.857% */
    margin-bottom: 20px;
}

.review__desc {
    width: 555px;
    color: var(--greyText);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.review__cards {
    height: 230px;
}

.review__cards ul {
    position: relative;
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.review__cards ul::-webkit-scrollbar{
    display: none;
}

.review__pagination {
    padding: 82px 150px 0 150px;
}